<app-panel [title]="'SOLDADOS MAS CHOROS!!!'">
  
    <div *ngIf="soldierRankinks.length > 0">
      <a *ngFor="let sr of soldierRankinks" class="panel-block is-active is-size-7">
        <soldier-points [soldiername]="sr.soldiername"></soldier-points>
        <resource-points [resources]="sr.statistics"></resource-points>
        <div class="column has-text-danger is-size-6 has-text-weight-bold">
          {{ sr.points }}
        </div>
      </a>
    </div>

    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        TRAICIONA A UN MIEMBRO DE LA LEGION
      </button>
    </div>

</app-panel>