<div class="container  has-text-centered mt-6 is-fluid">
<h1 class="title is-1">Centro de mando soldado</h1>
<app-notify class="m-3" [title]="'Nuevo ataque!!'" [message]="notificationMessage" ></app-notify>
<div class="columns">
    <div class="column">
        <app-soldier-ranking></app-soldier-ranking>
    </div>
    <div class="column">
        <app-select-weapon (weaponChange)="takeRandomWeapon($event)" ></app-select-weapon>
        <div>
            <app-weapon-detail [weapon]="select?.weapon"></app-weapon-detail>
            <app-select-target *ngIf="select?.weapon" (russianTargetChange)="destroyRussianTarget($event)"></app-select-target>
        </div>
    </div>
    <div class="column">
        <app-target-ranking></app-target-ranking>
        <app-city-ranking></app-city-ranking>
    </div>
  </div>
</div>







